html {
  background-color: #f2f4f6;
  font-family: "Roboto", sans-serif;
  color: #6b708d;
  width: min(100% - 6rem, 1000px);
  margin-inline: auto;
  
}
h1 {
  font-size: 60px;
  font-weight: 900px;
  color: #292e47;
}
h2 {
  font-size: 50px;
  color: #292e47;
}
h3 {
  font-size: 40px;
  color: #292e47;
  font-weight: bold;
}
h4 {
  font-size: 24px;
  color: #292e47;
  font-weight: bold;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 200px;
}

nav div {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 20px;
}
.navMenu {
  text-decoration: none;
  display: inline-block;
  color: #292e47;
  font-size: 17px;
  font-weight: medium;
  line-height: 22px;
  padding: 0px 5px 0px 5px;
}
.navMenu:hover {
  color: #072ac8;
}

.std-button {
  color: white;
  box-sizing: border-box;
  background-color: #072ac8;
  text-decoration: none;
  display: inline-block;
  padding: 15px 35px 15px 35px;
}

.std-button:hover {
  background-color: #292e47;
}

.hero-container {
  padding-top: 5%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.hero-btns1 {
  color: #292e47;
  font-size: 17px;
  font-weight: medium;
  text-decoration: none;
  box-sizing: border-box;
  display: inline-block;
  padding: 15px 35px 15px 35px;
}

.hero-intro {
  display: flex;
  flex-direction: column;
}
.text-Content {
  font-size: 20px;
  line-height: 25px;
  font-weight: normal;
  color: #6b708d;
  text-align: left;
}
#hero-imagBox {
  min-height: 600px;

  background-image: url("./imagenes/hero-image.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

/* .card-1 {
height:300px;
float: left;
}
.card-2 {
height: 35% ;
float:right;
  
} */

.logos {
  /* display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 20%;
  padding-top: 10%; */
  margin-top: 10%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(9rem, 1fr));
  grid-auto-rows: 5rem;
  column-gap: 2rem;
}

.recentProject-container {
  display: flex;
  flex-wrap: wrap;
  width: 110%;
  margin-inline: auto;
}

.post-box-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  column-gap: 5rem;
}

.post img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.postContent {

  background-color: white;
  height: 300px;
  padding: 10%;
  
}
.post-box-grid a {
  text-decoration: none;
  color: #072ac8;
  font-weight: bold;

  
}

.testimony {
  background-color: #292e47;
  width: 120%;
  min-height: min-content;
  margin-left: -10%;
  margin-top: 20%;
  background-image: url("./imagenes/testimonial-section/orbit.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  /*grid instructions*/

  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 3;
  gap: 2px;
}
.person_testimony_flex {
  display: flex;
  flex-direction: row;
  justify-content: center;

  grid-column: 2;
  grid-row: 3;
}
.person_testimony_flex p {
  align-content: left;
  line-height: 5px;
  font-weight: 100;
  margin-left: 10px;
}
.name_headline {
  color: #d1edff;
  font-size: 17px;
}
.company_name {
  color: white;
  font-size: 15px;
  font-weight: 100;
}
.person_img {
  height: 50px;
  width: 50px;
  border-radius: 25px;
}
.emoji1 {
  height: 150px;
  grid-column: 1;
  grid-row: 1 / 2;
  align-self: center;
  justify-self: center;
}

.emoji2 {
  height: 150px;
  grid-column: 1;
  grid-row: 3 / 2;
  align-self: center;
  justify-self: center;
}

.emoji3 {
  height: 150px;
  grid-column: 3;
  grid-row: 1/2;
  align-self: center;
  justify-self: center;
}

.emoji4 {
  height: 150px;
  grid-column: 3;
  grid-row: 3/2;
  align-self: center;
  justify-self: center;
}
.testimonybox_flex {
  display: flex;
  height: 500px;
  flex-direction: column;
  justify-content: space-around;
  grid-column: 2;
  grid-row: 1/ 3;
}
.testimonybox_flex h3 {
  color: white;
  text-align: center;
}
.testimonybox_flex {
  color: #ffc600;
  text-align: center;
  font-size: 25px;
  line-height: 40px;
}
.our-services_container {
  margin-top: 20%;
  width: 100%;
}
.services_grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-auto-rows: 22rem;
  gap: 30px;
  margin: auto;
}
.services_flex {
  height: 350px;
  padding-left: 5%;
  padding-right: 5%;
  border: 2px solid black;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.imag_pen {
  margin-top: 5%;
  background: #d1edff;
  height: 20%;
  width: 20%;
  border-radius: 50%;
}
.imag_pen {
  background-image: url("/imagenes/services-section/icons/1.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.imag_arrow {
  margin-top: 5%;
  background: #d1edff;
  height: 20%;
  width: 20%;
  border-radius: 50%;
}
.imag_arrow {
  background-image: url("/imagenes/services-section/icons/2.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.imag_tech {
  margin-top: 5%;
  background: #d1edff;
  height: 20%;
  width: 20%;
  border-radius: 50%;
}
.imag_tech {
  background-image: url("/imagenes/services-section/icons/3.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.service-btn {
  text-decoration: none;
  color: #072ac8;
  font-weight: bold;
}
.services1 {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  text-align: left;
  line-height: 25px;
}
#newsletters {
  background-color: #ffc600;
  width: min(130%, 1100px);
  margin-left: -10%;
  height: 450px;
  margin-top: 20%;
  margin-bottom: 10%;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
 
}

/* #newsletters {

  margin-inline: auto;
} */

#subscribe-button {
  color: white;
  box-sizing: border-box;
  background-color: #072ac8;
  text-decoration: none;
  /* display: inline-block; */
  padding: 15px 35px 15px 35px;
  border: none;
}

#subscribe-button:hover {
  background-color: #292e47;
}

.subscribe_form {
  border: 1px solid #d7d7d7;
  padding: 4px;
}
.form {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

input.input-field {
  border: 0px;
  width: 240px;
  position: relative;
  outline: none;
  bottom: 8px;
  padding: 2px;
}

input.img-envelope {
  width: 20px;
  border: 0px;
  position: relative;
  top: -2px;
}

.formContainer {
  background: white;
  height: 15px;
  width: 270px;
  /* margin: auto; */
  padding: 15px 35px 15px 35px;
}
footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 200px;
}

.menu-footer a {
  text-decoration: none;
  display: inline-block;
  color: #072ac8;
  font-size: 17px;
  font-weight: medium;
  line-height: 22px;
  padding: 0px 5px 0px 5px;
}
div.menu-footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row: 2;
  gap: 2px;
}
/* Project page */

.acticle-container {
  width: 600px;
  min-height: 450 px;
  display: flex;
  align-content: center;
  justify-content: space-around;
  
  

}
#contact-form {
  width: 825px;
  height: auto;
  padding: 10px;
  margin: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#contact-form ::placeholder {
  color: #292e47;
}

#fullName {
  background-color: #d1d3db;
  border: none;
  width: 825px;
  height: 50px;
  margin-bottom: 20px;
  margin-top: 20px;
}
#email2,
#phone {
  background-color: #d1d3db;
  border: none;
  width: 400px;
  height: 50px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.emaildata {
  display: flex;
  flex-direction: column;
  margin-right: auto;
}
.phoneNumber {
  display: flex;
  flex-direction: column;
}
#message {
  background-color: #d1d3db;

  border: none;
  margin-bottom: 20px;
  margin-top: 20px;

  font-family: "Roboto", sans-serif;
  font-size: 13px;
  padding: 20px;
  width: 790px;
  height: 250px;
}
#contactButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 825px;
  background-color: #072ac8;
  justify-items: center;
}

/* Versión mobile */

@media (max-width: 700px) {
  .hero-container {
    grid-template-columns: 1fr;
    text-align: center;
  }
  /* .logos {
    flex-direction: column;
  } */

  /* .post-box-grid {
    grid-template-columns: 1fr;
  }  */
  .testimony {
    grid-template-columns: 1fr;
  }
  .emoji1 {
    display: none;
  }
  .emoji2 {
    display: none;
  }
  .emoji3 {
    display: none;
  }
  .emoji4 {
    display: none;
  }

  .logos img[alt="amazon"] {
    grid-column: span 2;
  }
  footer{
  flex-flow: column;
  text-align: center;
  }
  div.menu-footer{
    grid-template-columns: repeat(2, fr);
  }
}
